* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: 'PT-sans', sans-serif;
}

nav {
  width: 100%;
  padding-top: 1rem;

  background-image: url(./images/aniversario.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.profile_bar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
}

.profile_menu {
  background-color: white;
  height: auto;

  padding: 0.5rem;
  margin-top: 1px;
  border-bottom: 1px solid #555;
}

.profile_title {
  min-height: 20px;
}

ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

.profile_image {
  width: 10rem;
  border-radius: 50%;
  border: 2px solid white;
}

h1 {
  color: royalblue;

  margin: 0.5rem 0;
}

h3 {
  color: rgb(37, 37, 37);
  font-weight: 500;
}

a {
  color: #555;
  text-decoration: none;
  font-size: 1rem;
  /* border: 2px solid black; */
}

.container_info {
  display: flex;
  align-items: flex-start;
  margin-right: 2rem;
}

.info_box {
  display: flex;
  flex-direction: column;

  padding: 1rem;
  border: 1px solid black;
  border-radius: 4px;
  margin-left: 1rem;

  flex-basis: 300rem;

  position: sticky;
  top: 0;
  align-self: flex-start;
  overflow-y: auto;
}

p {
  margin: 1rem;
  text-align: left;
}

.info_box p {
  width: 100%;
  margin: 0.5rem 0;
  color: #555;

  text-align: left;
}

.info_box a {
  background-color: turquoise;
  width: 100%;
  min-height: 1.5rem;

  padding: 4px 0;
  border-radius: 4px;

  text-align: center;
}

.progress_bar {
  background-color: lightgray;
  width: 100%;
  height: 0.75rem;
  border-radius: 4px;
}

.progress_fill {
  background-color: lightseagreen;
  width: 40%;
  height: 100%;
  border-radius: 6px;
}

.real_value {
  font-size: 1.25rem;
  color: black;
}

main {
  text-align: center;
  position: relative;
  padding: 0 0.5rem;
}

main h1 {
  margin: 1rem;
}

.sectionColabore div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.sectionColabore img {
  width: 200px;
  height: 200px;
}

.supporters_container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  padding-left: 1.5rem;
}

.supporter_card {
  background-color: bisque;
  border: 1px solid black;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
}

.supporter_card p {
  margin: 0.5rem 0.1rem;
}

.card_info {
  color: #555;

  display: flex;
  justify-content: space-around;
}
