* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  background-color: #f2f2f2;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.profile_menu {
  background-color: #024979;
  height: 3.5rem;

  margin-bottom: 2.5rem;
}

ul {
  min-height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;

  font-size: 0.875rem;
}

.profile_image {
  width: 12rem;
  height: 12rem;
}

h1 {
  color: #024979;
  font-family: 'Lobster Two', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.5rem;

  text-align: left;

  margin-bottom: 1.5rem;
}

h3 {
  color: rgb(37, 37, 37);
  font-weight: 500;
}

a {
  color: #f2f2f2;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

p {
  text-align: left;
  margin-bottom: 2.125rem;
}

p a {
  text-decoration: none;
  color: #024979;
}

.container_info {
  margin: 0 1.5rem;
}

.info_box {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  margin-bottom: 3.5rem;

  gap: 23px;
}

.info_box p {
  width: 100%;
  margin: 16px 0;
  color: #828282;

  text-align: left;
}

#suportters_number {
  color: #828282;

  text-align: left;
}
.info_box a {
  background-color: #024979;
  width: 100%;
  height: 3rem;

  padding: 4px 0;
  border-radius: 16px;

  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.875rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.data_box {
  background-color: #fff;
  border-radius: 16px;
  padding: 0 23px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.progress_bar {
  background-color: #f2f2f2;
  width: 100%;
  height: 12px;
  border-radius: 8px;
}

.progress_fill {
  background: linear-gradient(
    90deg,
    #6bb3e4 0%,
    #3495d8 51.29%,
    #024979 99.87%
  );
  width: 40%;
  height: 100%;
  border-radius: 8px;
}

.real_value {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 50px;

  color: #4f4f4f;
}

#target_value {
  color: #4f4f4f;
  font-weight: 500;
}

.progress {
  display: flex;
  justify-content: space-between;
}

main {
  text-align: center;
  position: relative;
}

main img {
  text-align: center;
  max-width: 100%;
  height: auto;
}

.legend {
  color: #4f4f4f;

  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  text-align: center;

  margin: 0 0 1.5rem 0;
}

.sectionColabore div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  font-weight: 500;
}

.sectionColabore img {
  max-width: 19.5rem;
}

.pix_info {
  margin: 0;
}

.pix_container {
  margin-bottom: 3.5rem;
}

section {
  margin-bottom: 3.5rem;
}
.supporters_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin-bottom: 2.25rem;
}

.supporter_card {
  background-color: #fff;
  border-radius: 16px;
  padding: 2.25rem 1rem 1rem 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
  min-width: 14.5rem;
}

.quotation {
  font-weight: bold;
  font-size: 6.5rem;
  line-height: 5px;
  text-align: left;

  color: #e0e0e0;
}

.supporter_card p {
  margin: 16px 2px 8px 2px;
  color: #4f4f4f;
}

.card_name {
  margin: 8px 0;
  text-align: left;
}

.card_info {
  color: #555;

  display: flex;
  justify-content: space-between;
}

.table_container {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}

.budget_text {
  margin-bottom: 24px;
}

.demo {
  border: 2px solid #c0c0c0;
  border-collapse: collapse;
  border-spacing: 3px;
  padding: 5px;
  text-align: center;
}

.demo caption {
  font-weight: 500;
  font-size: 1rem;
}
.demo th {
  border: 2px solid #4f4f4f;
}
.demo td {
  border: 2px solid #c0c0c0;
}

footer {
  background-color: gray;
  min-height: auto;
  width: 100%;

  color: #f2f2f2;
  font-style: normal;
  font-weight: 500;

  text-align: center;
}

footer span {
  margin: 1rem 1rem;
}

footer a {
  color: white;
  text-decoration: underline;
  font-size: 1rem;
}

.fix_botton {
  background-color: #024979;

  position: fixed;
  width: 19.5rem;
  height: 48px;
  bottom: 2px;
  right: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 1.5rem;
  border-radius: 16px;
}

.fix_botton a {
  font-size: 16px;
}

/* @media (width >= 60rem) {
  .container_info {
    max-width: 60vw;
    margin: 0 auto 5rem;
  }
  .fix_botton {
    bottom: 3rem;
    right: unset;
    left: 50vw;
    margin-left: -9.75rem;
  }
} */
